.controls {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    gap: 6px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 4px;
}

button {
    color: #fff;
}

mat-icon {
    font-size: 20px;
}