.iframe-wrapper {
  width: 100%;
  height: 700px;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.loader {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.error {
  color: red;
  padding: 12px 0;
}
