
.esign-layout {
   // display: grid;
    grid-template-columns: 260px 1fr 220px;
    gap: 16px;
    padding: 12px;
    height: 100%;
    box-sizing: border-box;
    background: aliceblue;
}

.center-canvas {
   // background: #f6f6f6;
    overflow: auto;
  //  padding: 16px;
   // border-radius: 8px;
}

.center-canvas .document {
    display: grid;
    gap: 16px;
}

.center-canvas .pages {
    display: grid;
    gap: 16px;
}

.center-canvas .page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.center-canvas .page img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}

.center-canvas .overlay-div {
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

.center-canvas .page-title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 4px 2px;
    color: rgba(0, 0, 0, .6);
}

.right-thumbnails {
    overflow: auto;
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, .06);
}

.imgStyle {
    max-width: 148px;
    max-height: 38px;
    margin-right: 20px;
}

.iconStyle {
    cursor: pointer;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: #5a5a5a;
    font-size: 1.5rem;
    font-weight: 500;
}

.field-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

.custom-field-row:hover .field-icons {
    display: flex;
}

.icon-btn {
    margin-left: 2px;
    padding: 0;
    margin-left: 4px;
    width: 10px;
    height: 24px;
    color: rgb(20, 58, 82);
    display: flex;
    align-items: center;
    justify-content: center;
}