<div class="dashboard-header">
  <div class="header-left">
    <div class="logo-section">
      <mat-icon class="logo-icon">description</mat-icon>
      <span class="logo-text">Leaflet eNotary</span>
    </div>
  </div>
  <div class="header-right">
    <button mat-icon-button class="header-icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="header-icon">
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button class="header-icon">
      <mat-icon>add</mat-icon>
    </button>
    <div class="user-avatar">
      <span class="avatar-text">{{ userInitials }}</span>
    </div>
  </div>
</div>
